[user]
	name = Dan Belling
	email = danhbelling@gmail.com
[alias]
  s = status -s
  co = checkout
  go = checkout -B
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)(%an)%Creset' --date=relative
  remotes = remote -v
	pr = "!_git_pr() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; _git_pr"
  put = push origin HEAD
  done = commit -a -m
  undo = reset --hard
  ignored = ls-files --others -i --exclude-standard
[color]
	ui = auto
[color "status"]
  added = green
  changed = red
  untracked = cyan
[core]
	editor = atom
	excludesfile = ~/.gitignore_global
[github]
  user = danhbelling@gmail.com
[push]
	default = simple
[credential]
	helper = osxkeychain
